#### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
### AUTHOR - CHANDAN D. CHAUDHARI

#### DATASETLINK - https://raw.githubusercontent.com/chandanc5525/Dataset/main/Data/telecom_churn.csv 
#### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
!pip install klib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: klib in c:\users\user\appdata\roaming\python\python310\site-packages (1.0.7)
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in c:\users\user\appdata\roaming\python\python310\site-packages (from klib) (1.9.3)
Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in c:\users\user\appdata\roaming\python\python310\site-packages (from klib) (3.0.3)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in d:\anaconda3\lib\site-packages (from klib) (1.23.5)
Requirement already satisfied: pandas<2.0.0,>=1.2.0 in d:\anaconda3\lib\site-packages (from klib) (1.5.3)
Requirement already satisfied: seaborn<0.13.0,>=0.11.2 in d:\anaconda3\lib\site-packages (from klib) (0.12.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in c:\users\user\appdata\roaming\python\python310\site-packages (from klib) (3.6.3)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda3\lib\site-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (22.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.0.5)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (9.4.0)
Requirement already satisfied: cycler>=0.10 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.2.0->klib) (2022.7)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.0.3->klib) (1.16.0)

### PROBLEM STATEMENT

Customer churn is a major problem and one of the most important concerns for large companies. Due to the direct effect on the revenues of the companies, especially in the telecom feld, companies are seeking to develop means to predict potential customer to churn. Therefore, fnding factors that increase customer churn is important to take necessary actions to reduce this churn.

In [2]:
# Importing Python Libraries
import numpy as np
import pandas as pd

# Importing Data Visualization Libraries
import seaborn as sns
import matplotlib.pyplot as plt

# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing Dataset

URL = "https://raw.githubusercontent.com/chandanc5525/Dataset/main/Data/"

df = pd.read_csv(URL + 'telecom_churn.csv')

# Checking random 10 Sample of the dataset
df.sample(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2138,WY,124,415,No,No,0,178.3,102,30.31,235.0,120,19.98,239.7,119,10.79,10.9,1,2.94,3,False
1331,OK,101,408,No,No,0,209.6,107,35.63,228.8,96,19.45,172.4,85,7.76,7.6,2,2.05,3,False
1493,MT,126,415,No,Yes,30,153.4,90,26.08,151.4,97,12.87,153.8,97,6.92,12.8,4,3.46,4,True
448,GA,75,415,No,No,0,117.3,114,19.94,201.1,61,17.09,107.9,82,4.86,12.2,3,3.29,1,False
2746,CO,107,415,No,No,0,204.5,108,34.77,162.4,110,13.80,155.0,102,6.98,13.4,1,3.62,3,False
1538,WV,113,415,No,No,0,61.2,111,10.40,92.3,88,7.85,197.4,114,8.88,13.7,3,3.70,5,True
76,DC,82,415,No,No,0,300.3,109,51.05,181.0,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True
2336,NY,122,415,No,Yes,37,163.0,107,27.71,312.8,118,26.59,200.0,85,9.00,11.6,5,3.13,1,False
1438,ND,60,510,No,No,0,203.2,99,34.54,235.8,131,20.04,224.9,112,10.12,15.1,6,4.08,2,False
1870,AZ,43,415,No,No,0,179.3,97,30.48,252.7,126,21.48,227.5,114,10.24,8.0,5,2.16,0,False

In [4]:
# Checking Shape of the dataset
df.shape

(3333, 20)

In [5]:
# Checking Missing values in the dataset

df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [6]:
# Checking Descriptive Stats for Categorical Column

df.describe(include='all')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333,3333.000000,3333.000000,3333,3333,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333
unique,51,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,WV,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,106,NaN,NaN,3010,2411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2850
mean,NaN,101.064806,437.182418,NaN,NaN,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,NaN
std,NaN,39.822106,42.371290,NaN,NaN,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,NaN
min,NaN,1.000000,408.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,74.000000,408.000000,NaN,NaN,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,NaN
50%,NaN,101.000000,415.000000,NaN,NaN,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,NaN
75%,NaN,127.000000,510.000000,NaN,NaN,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,NaN
max,NaN,243.000000,510.000000,NaN,NaN,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,NaN

In [7]:
# Feature Columns

df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [8]:
# Checking Information about the Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [9]:
features = df[['State','International plan','Voice mail plan','Churn']]
for i in features:
    print('-----------------------')
    print(i)
    print(features[i].unique())
    print(features[i].value_counts())
    print('-----------------------')

-----------------------
State
['KS' 'OH' 'NJ' 'OK' 'AL' 'MA' 'MO' 'LA' 'WV' 'IN' 'RI' 'IA' 'MT' 'NY'
 'ID' 'VT' 'VA' 'TX' 'FL' 'CO' 'AZ' 'SC' 'NE' 'WY' 'HI' 'IL' 'NH' 'GA'
 'AK' 'MD' 'AR' 'WI' 'OR' 'MI' 'DE' 'UT' 'CA' 'MN' 'SD' 'NC' 'WA' 'NM'
 'NV' 'DC' 'KY' 'ME' 'MS' 'TN' 'PA' 'CT' 'ND']
WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: State, dtype: int64
-----------------------
-----------------------
International plan
['No' 'Yes']
No     3010
Yes     323
Name: International plan, dtype: int64
-----------------------
-----------------------
Voice mail plan
['Yes' 'No']
No     2411
Yes     922
Name: Voice mail plan, dtype: int64
-----------------------
-----------------------
Churn
[False  True]
False    2850
True      483
Name: Churn, dtype: int64
-----------------------

### OBSERVATIONS

1. THE ABOVE DATASET CONTAINS 3333 ROWS AND 20 COLUMNS
2. NULL VALUES ARE ABSENT IN THE GIVEN DATASET
3. CHURN COLUMN IS BOOLEANS, SO WE NEED TO CONVERT INTO NUMERICAL FORM